@primary-color: #ffffff;
@primary-background-color: #000000;
@highlight-color: darken(#0000ff, 20%);
@disabled-color: darken(@primary-color, 60%);

@negative-color: #ff0000;
@negative-color-dark: darken(@negative-color, 15%);
@negative-color-darker: darken(@negative-color-dark, 15%);
@negative-color-light: lighten(@negative-color, 45%);

@positive-color: #00ff00;
@positive-color-dark: darken(@positive-color, 15%);
@positive-color-darker: darken(@positive-color-dark, 15%);

.button {
  cursor: pointer;
  text-decoration: none;
}

.border {
  border: 1px solid @primary-color;
  border-radius: 5px;
}

.button-with-border {
  .button();
  .border();
}