@primary-color: #ffffff;
@primary-background-color: #000000;
@disabled-color: darken(@primary-color, 80%);

@neutral-color: #0000ff;
@neutral-color-dark: darken(@neutral-color, 20%);

@negative-color: #ff0000;
@negative-color-dark: darken(@negative-color, 20%);
@negative-color-darker: darken(@negative-color-dark, 10%);
@negative-color-light: lighten(@negative-color, 40%);

@positive-color: #00ff00;
@positive-color-dark: darken(@positive-color, 20%);
@positive-color-darker: darken(@positive-color-dark, 10%);

input {
  .border();

  &.invalid {
    background-color: @negative-color-light;
  }
}

select {
  .border();
  background-color: @primary-color;
}

.button {
  cursor: pointer;
  text-decoration: none;
}

.border {
  border: 1px solid @primary-color;
  border-radius: 5px;
}

.button-with-border {
  .button();
  .border();
}

.positive-text {
  color: @positive-color;
}

.negative-text {
  color: @negative-color;
}

.two-columns {
  display: grid;
  grid-template-columns: auto auto;
}

.three-columns {
  display: grid;
  grid-template-columns: auto auto auto;
}