@highlight-color: darken(#0000ff, 20%);

.button {
  cursor: pointer;
  text-decoration: none;
}

.border {
  border: 1px solid white;
  border-radius: 5px;
}

.button-with-border {
  .button();
  .border();
}