@import "common";

body {
  background-color: @primary-background-color;
  color: @primary-color;
  font-family: Arial, sans-serif;
}

input {
  .border();

  &.invalid {
    background-color: @negative-color-light;
  }
}

select {
  .border();
  background-color: @primary-color;
}

.header {
  text-align: center;
}

.calendar {
  display: flex;
  justify-content: center;
}

.year-header {
  .button();
  display: inline-block;
  padding: 5px;

  &.active {
    background-color: @primary-color;
    border-radius: 5px;
    color: @primary-background-color;
  }
}

.month {
  & th, td {
    padding: 1px;
    text-align: center;
    width: 175px;
  }
}

.positive-amount {
  color: @positive-color;
}

.negative-amount {
  color: @negative-color;
}