@highlight-color: darken(#0000ff, 20%);

.button {
  cursor: pointer;
  text-decoration: none;
}

.border {
  border: 1px solid white;
  border-radius: 5px;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
}

.calendar {
  display: flex;
  justify-content: center;
}

.year-header {
  .button();
  display: inline-block;
  padding: 5px;
}

.year-header-active {
  .year-header();
  background-color: white;
  border-radius: 5px;
  color: black;
}

.month {

  & th, td {
    padding: 1px;
    text-align: center;
    width: 150px;
  }
}

.day {
  border: 1px solid white;
  height: 100px;
  vertical-align: top;

  .day-header {
    background-color: @highlight-color;
    padding: 2px;
    text-align: left;

    .day-header-total {
      float: right;
    }

    .add-expense-button {
      .button();
      .border();
      display: none;
      font-weight: bold;
      margin: -1px 5px;
      padding: 0 3px;
    }

    &:hover {
      .add-expense-button {
        display: inline-block;
      }
    }
  }
}

.day-empty {
  border: 0;
}

.expense {
  .button();
  display: grid;
  grid-template-columns: auto auto;
  padding: 2px;

  .expense-name {
    text-align: left;
  }

  .expense-amount {
    text-align: right;
  }
}

.expense-data {
  .border();
  margin: 2px;
  position: relative;
}