@highlight-color: darken(#0000ff, 20%);

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
}

.calendar {
  display: flex;
  justify-content: center;
}

.month {

  & th, td {
    padding: 1px;
    text-align: center;
    width: 150px;
  }

  & td {
    border: 1px solid white;
    height: 100px;
  }

  & .empty {
    border: 0;
  }
}

.date {
  vertical-align: top;

  .header {
    background-color: @highlight-color;
    padding: 2px;
    text-align: left;

    .total {
      float: right;
    }
  }
}